* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	background-color: #eee;
	font-family: Arial, sans-serif;
}

.container {
	width: fit-content;
	height:100vh;
	display: flex;
	margin: 0px auto;
	margin-bottom: 10vh;
}

/* header */
#headLine {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	z-index: 999;
}

header {
	z-index: 999;
	position: fixed;
	top: 30px;
	left: 0px;
	width: 100%;
	background-color: rgb(252, 189, 73);
	height: 20vh;
}

#menuBar {
	position: relative;
	margin: 0px auto;
	width: 95%;
	/* top: 0%;
	line-height: 400%;
	border-radius: 0px; */
	height: 35%;
	background-color: white;
	top: 10%;
	line-height: 400%;
	border-radius: 50px;
}

#webTitle {
	line-height:200%;
	margin-left: 4%;
	float: left;
	font-size: 230%;
	font-weight: bold;
}

.menu {
	box-sizing: border-box;
	float: right;
	font-size: 100%;
	font-weight: bold;
	line-height: 300%;
	padding: 10px;
	height: 100%;
}

.menu:hover {
	background-color: #eee;
}

.menu:active {
	opacity: 0.9;
	box-shadow: 1px 1px 1px gray;
}

#menuBtn {
	height: 70%;
	box-sizing: border-box;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	padding: 10px;
	border-radius: 50%;
	background-color: #F9714E;
	box-sizing: border-box;
}

.menuBtnC:active {
	opacity: 0.9;
	box-shadow: 1px 1px 1px gray;
}
#menuTitle {
	font-weight: bold;
	font-size: 250%;
	position: fixed;
	top: 150px;
	margin-left: 15%;
}

.empty {
	margin-top: 25vh;
}
/* sideBar */
#sideBar {
	width: 300px;
	position: -webkit-sticky;
	position: sticky;
	height: 80vh;
	top: 25vh;
	font-weight: bold;
	background-color: #EEE;
	box-sizing: border-box;
	padding: 10px;
	display: none;
}

#profile {
	border-radius: 10px;
	box-sizing: border-box;
	padding: 15%;
	background-color: white;
	width: 100%;
	height: 38%;
	margin: 0px auto;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 20%;
}

#statusZone {
	margin: 10% 0px;
}

#latestActivity {
	margin: 10% 0px;
}

#viewMyHistory {
	color: #abcdef;
	line-height: 10px;
}

#sideTagZone {
	background-color: #eee;
	float: left;
	width: 50%;
	margin: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.tagIcon {
	box-sizing: border-box;
	display: inline-block;
	width: 40%;
	margin: 2px 30%;
}

#history {
	padding: 10px;
	clear: left;
	margin-bottom: 10px;
	background-color: white;
	height: 35%;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.historyBlock {
	box-sizing: border-box;
	margin: 10px;
	background-color: #eee;
	border-radius: 10px;
	width: 90%;
	height: 20%;
}

#historyArea {
	margin: 2px 10px;
	font-weight: bold;
	float: left;
}

#historyDistance {
	margin: 2px 10px;
	font-weight: bold;
	float: right;
}

#eventDate {
	margin: 1px 10px;
	clear: both;
}

#trip {
	border-radius: 10px;
	box-sizing: border-box;
	padding: 5%;
	text-align: center;
	font-size: 120%;
	margin-bottom: 5%;
	background-color: white;
	height: 10%;
}

/* login */
#modalPopup {
	display:none;
	z-index: 999;
	background-color: white;
	box-sizing: border-box;
	position: fixed;
	left: calc(50vw - 225px);
	top: calc(50vh - 190px);
	width: 450px;
	height: 380px;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0px 0px 5px gray;
}

#loginTitle {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin: 20px 30px;
}

#findAccount {
	font-weight: bold;
	font-size: 12px;
	margin-top: 10px;
	position: relative;
}

.find {
	margin: 0px 2px;
	float: right;
}
a{
	color:black;
}
a:link {
	text-decoration: none;
	color: black;
}
 .skyblue{
 color: skyblue;}
 .skyblue:link{
 color: skyblue;
 }
.loginInput {
	box-sizing: border-box;
	padding: 10px;
	font-size: 15px;
	margin: 5px 10%;
	width: 80%;
	height: 40px;
	border-radius: 10px;
	border: 1px solid black;
	background-color: #eee;
}

#loginSignInBtn {
	width: 80%;
	opacity: 0.9;
	box-sizing: border-box;
	margin: 30px 10%;
	padding: 5px 10px;
	font-weight: bold;
	color: white;
	border-radius: 10px;
	background-color: #F9714E
}

#joinZone {
	opacity: 0.9;
	font-weight: bold;
	width: fit-content;
	margin: 0px auto;
	font-size: 12px;
	margin-bottom: 10px;
}

/* join */
.joinContainer {
	padding: 2%;
	height: 100vh;
	width: 80vw;
	margin: 2% 2%;
	box-sizing: border-box;
	border-radius: 20px;
	box-shadow: 0px 0px 5px gray;
	background-image: url(../images/join_image.png);
	background-size: cover;
}

#joinTitle {
	text-align: center;
	font-size: 200%;
	font-weight: bold;
	margin: 2% 5%;
}

.joinLine {
	display: block;
	box-sizing: border-box;
	margin: 1%;
	width: 100%;
	height: 4%;
}

.inputName {
	font-weight: bold;
	display: block;
	margin-top: 2%;
	margin-left: 15%;
}

.inputBlock {
	box-sizing: border-box;
	padding: 1.5%;
	font-size: 100%;
	margin-left: 15%;
	width: 60%;
	height: 4%;
	border-radius: 10px;
	border: 1px solid black;
	background-color: #eee;
}

.relatived {
	position: relative;
}

.favor {
	position: relative;
	padding: 0px 15px;
	left: 13%;
	bottom: 2%;
}

.addrBlock {
	box-sizing: border-box;
	display: inline-block;
	font-size: 100%;
	margin-left: 15%;
	width: 50%;
	height: 4%;
}

.addrSelect {
	position: relative;
	bottom: 1%;
}

button {
	box-sizing: border-box;
	padding: 1% 3%;
	font-size: 100%;
	font-weight: bold;
	width: fit-content;
	border-radius: 10px;
	background-color: black;
	color: white;
}

button:active {
	opacity: 0.9;
	box-shadow: 1px 1px 2px black;
}

#signInBtn {
	width: 60%;
	opacity: 0.9;
	box-sizing: border-box;
	margin: 4% 20%;
	padding: 1% 2%;
	font-weight: bold;
	color: white;
	border-radius: 10px;
	background-color: #F9714E
}
/* clientInfo */
.clientInfoContainer {
	padding: 2%;
	height: 100vh;
	width: 80vw;
	margin: 2% 2%;
	border-radius: 20px;
	box-shadow: 0px 0px 5px gray;
	background-color: white;
}

/* detailViewer */
#detVwContainer {
	background-color: white;
	border-radius: 20px;
	padding: 2%;
	height: 100vh;
	width: 70vw;
	margin: 2% 2%;
	padding: 2%;
}

#titleBlock {
	box-sizing: border-box;
	margin: 0px 5%;
	border-radius: 10px;
	width: 90%;
	height: 5%;
	font-weight: bold;
	font-size: 200%;
}

#boardInfo {
	box-sizing: border-box;
	margin: 0px 2%;
	border-radius: 10px;
	width: 95%;
	height: 5%;
	opacity: 0.9;
	font-size: 100%;
	text-align: right;
}

.mainBlock {
	font-size: 100%;
	box-sizing: border-box;
	margin: 00px auto;
	padding: 20px;
	border-radius: 10px;
	width: 90%;
	height: 80%;
	padding-bottom: 200px;
	background-color: #eee;
	box-sizing: border-box;
}

#map {
	width: 90%;
	height: 30vh;
	background-color: aliceblue;
	margin: 0px auto;
	border-radius: 10px;
}

#tagZone {
	
}

.detTagBlock {
	opacity: 0.9;
	border: 1px solid black;
	border-radius: 20px;
	padding: 1% 3%;
	width: fit-content;
	line-height: 30px;
	background-color: #F9714E;
	color: white;
	font-size: 80%;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	text-align: center;
}

#contentsBlock {
	clear: both;
	padding: 10px;
}

/* intro */
.introContainer {
	margin: 20px auto;
	box-sizing: border-box;
	display: block;
	width: 100%;
	line-height: 50px;
	width: 100%;
	line-height: 50px;
	height: 30vh;
}

.introImage {
	width: 100%;
}

.txtZone {
	margin: 5% 5%;
	text-align: center;
	float: left;
	height: fit-content;
	width: 30%;
}

.introTxt {
	font-size: 100%;
	text-shadow: 2px 2px 2px gray;
	opacity: 0.7;
}

.togetherImage {
	float: left;
	width: 50%;
	height: auto;
}

#cycleImage {
	width: 100%;
}

#runImage {
	width: 100%;
}

/* listView */
#listContainer {
	box-sizing: border-box;
	width: 100%;
	height: 1000px;
	padding: 50px;
}

.listBlock {
	border: 3px solid white;
	box-shadow: 0px 0px 2px gray;
	font-weight: bold;
	box-sizing: border-box;
	margin: 2% 5%;
	padding: 2%;
	border-radius: 10px;
	width: 90%;
	height: 17%;
	background-color: #eee;
	font-weight: bold;
}

.listTitle {
	font-size: 200%;
	float: left;
}

.listTitle:link {
	color: black;
	text-decoration: none;
}

.listDatetime {
	font-size: 110%;
	float: right;
}

#tagZone {
	clear: both;
	height: 30%;
	margin-top: 10%;
}

.tagBlock {
	border: 1px solid black;
	border-radius: 20px;
	padding: 0px 4%;
	width: fit-content;
	height: 100%;
	line-height: 200%;
	background-color: #F9714E;
	color: white;
	text-align: center;
	display: inline-block;
}

.listStatus {
	background-color: #4682B4;
	float: right;
	font-size: 120%;
	line-height: 200%
}

#searchZone {
	position: relative;
	font-weight: bold;
	box-sizing: border-box;
	margin: 20px auto;
	padding: 20px;
	border-radius: 10px;
	width: 60%;
	height: fit-content;
}

select {
	width: auto;
	height: 5%;
	border-radius: 10px;
	padding: 2%;
	background-color: #eee;
	height: 5%;
}

select:focus {
	border-radius: 0px;
}

option {
	height: 30px;
	border-radius: 10px;
	padding: 5px;
	background-color: #eee;
}

#search {
	display: inline-block;
	font-weight: bold;
	box-sizing: border-box;
	line-height: 30px;
	padding: 20px;
	margin-top: 0px;
	border-radius: 20px;
	width: 300px;
	height: 30px;
	background-color: #eee;
}

.searchIcon {
	position: absolute;
	box-sizing: border-box;
	height: 30%;
	right: 22%;
	top: 35%;
}

/* footer */
footer {
	position: relative;
	box-sizing: border-box;
	padding: 10px;
	background-color: black;
	height: 20vh;
	color: white;
	text-align: center;
	line-height: 30px;
	height: 20vh;
}

.curved {
	/* border: 1px solid black; */
	border-radius: 10px;
}

.themeBtn {
	width: 80px;
	height: 30px;
	display: inline-block;
	float: right;
	bottom: 20px;
	background-color: #eee;
}

.themeBtn:hover {
	opacity: 0.7;
	box-shadow: 1px 1px 1px;
}

@media screen and (min-width:1024px) {
	#sideBar {
		display: inline-block;
	}
	.clientInfoContainer {
		width: 750px;
	}
	.joinContainer {
		width: 750px;
	}
	.detVwContainer {
		width: 750px;
	}

}
@media screen and (min-width: 768px) {
}

@media screen and (max-width: 767px) {
	body {
		width: 750px;
	}
	.clientInfoContainer {
		width: 710px;
	}
	.joinContainer {
		width: 710px;
	}
	.detVwContainer {
		width: 710px;
	}
	.txtZone {
		width: 250px;
	}
}